@font-face {
    font-family: 'stroyka';
    src:
            url('stroyka.hxd') format('truetype'),
            url('stroyka.woff') format('woff'),
            url('stroyka.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}